.wxListItem{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20rpx 0;
}
.borderBottom{
	border-bottom: 2rpx solid #DDDDDD ;
}
.flexCenter{
	display: flex;
	align-items: center;
}
.userPic{
	width: 72rpx;
	height: 72rpx;
	border-radius: 50%; 
	margin-right:  40rpx;
}

.PhonePic{
	width: 15rpx;
	height: 25rpx; 
	margin-left: -20rpx;
}

.wxListCenter{

}
.rightArrow{
	width: 14rpx;
	height: 14rpx;
	border-top: 4rpx solid #999;
	border-right: 4rpx solid #999;
	transform: rotate(45deg);
}

