
@import "../../../../common/lib/weui.css";

.detail-box{
  margin-top: 18rpx;
  background: #fff;
  padding: 0rpx 0rpx 10rpx;
  /* height: 300rpx; */
}
.detail-box-day{
  margin: 15rpx 0rpx 0rpx 30rpx;
  color: #999;
  font-size: 13px;
}
.detail-text{
  margin: 0rpx 0rpx 0rpx 30rpx;
  color: #999;
  font-size: 13px;
}
.center_start{
  display: flex;
  flex-direction: row;
  margin-top: 25rpx;
}
.center_image{
  width: 50rpx;
  height: 50rpx;
  border-radius: 5px;
  margin-top: 3rpx;
}
.center_image_right{
  color: #000;
  margin-left: 40rpx;
  font-size: 17px;
}
.center_detail{
  width: 80%;
  height: 50rpx;
  display: flex;
  align-items: center;
  /* margin-top: 10rpx; */
  /* margin-left: 30rpx; */
}
.center_detail_box{
  width: 500rpx;
  height: 60rpx;
}
.box-status{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}
.center_text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.yes{
  padding: 0 20rpx;
  border-radius: 25px;
  background: #4fc08d;
  font-size: 24rpx;

}
.no{
  width: 80rpx;
  height: 36rpx;
  border-radius: 25px;
  background: #F39827;
  
}


.center_detail_image{
  width: 40rpx;
  height: 40rpx;
  margin-top: 15rpx;
}
.detail_right{
  position: relative;
  bottom: 10rpx;
  margin-left: 10rpx; 
  margin-bottom: 25rpx;
}


.msg-box{
  margin-top: 30rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.msg-box-text{
  margin-top: 30rpx;
  height: 100rpx;
  font-size: 15px;
}
.msg-box-image{
  width: 80rpx;
  height: 80rpx;
  border-radius: 5px;
  margin-top: 3rpx;
}
.box-status-right{
  color: #20a4f7;
  margin-left: 60rpx;
}


.myui-cell{
  padding:0rpx 30rpx;
  display: flex; 
  flex-direction: row;
}

.myui-cell__bd{
  width: 25%;
}
.myui-cell__bf{
  width: 75%;
  color:#999;
}
.myui-cell__tb{
  width: 100%;
}
.applyReason
.myui-cell__bd{
  width: 15%;
}
.applyReason
.myui-cell__bf{
  width: 85%;
  color:#999;
}
.relations{
  width: 100%;
  text-align: center;
  font-size: 32rpx;
  margin-top: 30rpx;
}
.relations text{
  color: #20a4f7;
}
.myui-icon{
  margin-top: 30rpx;
  padding: 0 35rpx 0 26rpx; 
  align-items:center;
}
.secondApply
.myui-cell{
	padding: 0 ;
}
.applyLeaveTimes{
  font-size: 24rpx;
  color:#999;
}
.redFOnt{
  color: red !important;
}
.redFOnt:after{
  border-color: red
}
.leaveInfo{
  margin-top: 20rpx;
}
.myui-flex{
  display: flex;
  flex-direction: row;
  padding-right: 10rpx;
}