@import "../../../../common/lib/weui.css";

.myui-cell {
  padding: 6rpx 40rpx;
  display: flex;
  flex-direction: row
}

/* 按钮 */
.myui-cell-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #20a4f7;
  align-content: center;
  /*align-items: center; */
}

.myui-cell-bottom {
  padding: 10px 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-top: 2rpx solid #e5e5e5;
}

/* .myui-cell-bottom:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1rpx solid #e5e5e5;
  color: #d9d9d9;
  left: 15px
}

.myui-cell-bottom:first-child:before {
  display: none
} */

.myui-cell-bottom__bd {

  width: 50%;
}

.myui-cell-bottom__fd {
  width: 50%;
  border-left: 3rpx #20a4f7 solid;
}

.myui-cell__bd {
  width: 30%;
}

.myui-cell__bf {
  width: 70%;
  color: #999;
}

.myui-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* model弹窗 */
.modal-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  overflow: hidden;
  z-index: 9000;
  color: #fff;
}

.modal-dialog {
  width: 540rpx;
  overflow: hidden;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 9999;
  background: #f9f9f9;
  margin: -180rpx 105rpx;
  border-radius: 20rpx;
  padding: 30rpx 20rpx 10rpx;
}

.modal-title {
  padding: 0rpx 20rpx 10rpx;
  font-size: 36rpx;
  color: #030303;
}

.modal-content {
  padding: 10rpx 20rpx 10rpx;
}

.listItem {
  padding: 0 20rpx ;
  margin-top: 20rpx;
  box-sizing: border-box;
}

.dangeColor {
  color: #EA1932;
}
.passColor{
  color: #65D580;
}

.time {
  font-size: 24rpx;
  text-align: right;
}
.passItem:after{
  border-bottom: none;
}