.content{
  width: 100%;
  padding: 0rpx 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.conten{
	width: 100%;
	padding: 0rpx 1%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* margin-top: 20%; */
}
.load{
	width: 100%;
	text-align: center;
}
.meetingList{
  width: 100%;
}

.header{
  min-height: 88rpx;
}
.roomList{
  width: 47%;
  height: 230rpx;
  background-color: #ffffff;
  border-radius: 8rpx;
  box-shadow: 0 0 4rpx 4rpx rgb(228, 228, 228);
  padding: 20rpx 18rpx;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 20rpx;
  position: absolute;
  top: 0;
}
.roomName{
  font-size: 32rpx;
  word-break: break-all;
  height: 96rpx;
  overflow: hidden;
}
.appiontRace{
  font-size: 28rpx;
  color: #969696;
}
.roomType{
  
  display: inline-block;
  padding:8rpx 6rpx;
 /* border: 2rpx solid #F5A623; */
  background-color: #FEF8ED;
  border-radius: 8rpx;
  line-height: 1;
  font-size: 24rpx;
}
.nomore{
  text-align: center;
  margin-top: 20rpx;
}
