/* components/attendanceModule/attenDetail/attenDetail.wxss */
@import "../../common/weui.css";
.myui-cell{
  padding:6rpx 30rpx;
  display: flex; 
  flex-direction: row
}
.myui-cell__bd{
  width: 26%;
}
.myui-cell__bf{
  width: 74%;
  color:#999;
}
.myui-cell view{
  font-size: 30rpx;
}
.contTitle{
  float: left;
  overflow: hidden;
  text-align: justify;
  text-align-last: justify;
}

.freeCont{
  width: 100%;
  padding: 10rpx 30rpx 20rpx;
  box-sizing: border-box;
}
.freeCont-Title{
  color: #7D7D7D;
  font-size: 30rpx;
  padding-bottom: 20rpx;
}
.free-item{
  width: 50%;
  display: flex; 
  flex-direction: row
}
.free-item view{
  font-size: 30rpx;
}
.free-box{
  display: flex;
  justify-content: space-between;
  padding: 6rpx 0;
}
.free-right{
  justify-content: flex-end;
  padding: 0 0;
}
.free-right .myui-cell__bf{
  width: auto !important;
}
.footerBtnItem,.footerBtnItems{
  width: 50%;
  text-align: center;
  color: #20A4F7;

}
.footerBtnItem:first-child{
  border-right: 2rpx solid #20A4F7;
}
.sendErr{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40rpx;
  margin-right: 40rpx;

}
.sendErr view, .sendErr .weui-cell__ft_in-access:after{
  border-color: #20A4F7;
  color: #20A4F7;
  top: 59%;
}
.showCode{
  width: 506rpx;
  height: 68rpx;
  line-height: 68rpx;
  background: #20A4F7;
  border-radius: 8rpx;
  text-align: center;
  margin: auto;
  color: #fff;
  padding: 10rpx;
  margin-top: 40rpx;
}
.footerBtnItems{
  width: 100%;
}
.normal{
  color: #20A4F7;
  font-size: 30rpx;
}
.normalAttendFoot,.cancelBox{
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
}
.normalAttendFoot,.cancelBox{
  margin-top: 10rpx;
}
.normalAttendTime{
  padding-left: 20rpx;
}
.adress{
  color: #888888;
  font-size: 28rpx;
}
.signResult{
  padding: 10rpx 30rpx 0;
  box-sizing: border-box;
  
}
.circleIcon{
  display: inline-block;
  width: 18rpx;
  height: 18rpx;
  border-radius: 50%;
  background: #20A4F7;
  margin-right: 40rpx;
}
.cancelBox view, .cancelBox text{
  font-size: 30rpx;
}
.pin-solid.icons {
  color: #888888;
  position: absolute;
  margin-left: 4px;
  margin-top: 2px;
  width: 12px;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 7px 7px 7px 0;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pin-solid.icons:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 4px;
  height: 4px;
  color: white;
  border: solid 1px currentColor;
  border-radius: 3px;
  background-color: currentColor;
}
.adressTxt{
  margin-left: 50rpx;
}
.weui-heads{
  border-bottom: 1rpx solid #DDDDDD;
}
.paddingTop{
  padding-top: 20rpx;
}
.fonts15{
  font-size: 28rpx;
}
.noBorder::before{
  content: " ";
  border-top: 1rpx solid #ffffff;
  
}
.noBorder{
  margin-top: 0;
}
.reSendbtn{
  height: 47rpx;
  line-height: 47rpx;
  background: rgb(32,164,247);
  color: #fff;
  padding: 20rpx;
  border-radius: 4rpx;
}
.myui-cell-bottom{
  display: flex;
  justify-content: center;
  margin: 20rpx 0 ;
}