/* components/common/toastCover/toastCover.wxss */
.toastCover{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 99999;
  overflow: hidden;
	align-items: center;
}
.toastCont{
  width: 75%;
  overflow: scroll;
  background: #fff;
  border-radius: 22rpx;
  padding: 0rpx 50rpx 0rpx 50rpx;
  box-sizing: border-box;
  border-bottom: 60rpx solid #fff;
  border-top: 42rpx solid #fff;


}