


.right-box{
  width: 150rpx;
  height: 100%;
  border-left: 1px #e3e3e3 solid;
  color: #2eaaf8;
}
.right-img{
  width: 16px;
  height: 16px;
  margin-right: 15rpx;
  margin-top: 10rpx;
}
.center-top{
  margin-top: 10rpx;
  padding-top: 30rpx;
}
.box{
  width: 75%;
  display: flex;
  flex-direction:row;
}
.floor-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
button[type='primary']{
  background-color: #20a4f7;
}
.searchBox{
  padding: 0 20rpx;
  box-sizing: border-box;
  background: #fff;
}