
.weui-cell__ft_font{
  color: #20a4f7;
  font-size: 18px;
}
.weui-cells__title_two{
  padding-top: 10rpx;
  margin-top:.37em;
  margin-bottom:.10em;
  padding-left:15px;padding-right:15px;            
  font-size:17px;
  background: #fff;
}
.weui-cells__box{
  width: 100%;
  height: 300rpx;
  background: #fff;
  display: flex;
  align-items: center;
  color: #999;
  justify-content: center;
}
.weui-panel__box{
  width: 100%;
  height: 100rpx;
  background: #fff;
  display: flex;
  align-items: center;
  color: #999;
  justify-content: center;
}
.weui-cell__bd_font{
  color: #20a4f7;
}

.page__top{
  margin-top:.37em;
}