.addBankCard{
  width: 94%;
  height: 150rpx;
  margin-left: 3%;
  margin-top: 20rpx;
  background: #fff;
  border-radius: 10rpx;
	padding: 20rpx 0;
}
.center{
  display:flex;
  justify-content:center;  
  align-items:center;
}

.bankCard-box{
  display:flex;
  flex-direction:row;
  justify-content:center;  
  align-items:center;
}
.bankCard-pic{
  width: 100rpx;
  height: 100rpx;
}
.bank-name{
  width: 32%;
  display:flex;
  flex-direction:column;
  margin-left: 30rpx;
}
.bank-name-1{
  font-size: 18px;
}
.bank-name-2{
  font-size: 18px;
  margin-top: 20rpx;
}
.cardNumber{
  width: 38%;
  height: 90rpx;
  margin-top: 100rpx;
  margin-left: 25rpx;
}