.selectTypeHead{
	display: flex;
	height: 88rpx;
	background-color: #fff;
}
.timeWeek{
	overflow: hidden;
	overflow-x: scroll;
	background-color: #fff;
	border-bottom: 1rpx solid rgba(180,180,180,0.35);
	border-top: 1rpx solid #B4B4B4;

	
}
.timeWeek .sroll{
		display: flex;
		align-items: center;
		width: auto;
		min-width: 100%;
}
.weeks{
  width: auto;
	padding: 20rpx 0;
	min-width: 250rpx;
	margin:0 30rpx;
	text-align: center;
	position: relative;
	
}
.weeks:last-child{
	padding-right: 30rpx;
}
.activeWeeks::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	width: 100rpx;
	height: 4rpx;
	background-color:#20A4F7 ;

}
.fullBox{
	padding: 7rpx;
	font-size: 22rpx;
	background-color: #999999;
	color: #fff;
}